# Django Core Settings
COMMON_SECRET_KEY=django-secret-key
COMMON_DEBUG=debug
COMMON_ALLOWED_HOSTS=allowed_hosts

# Environment
COMMON_DEVELOPMENT=common-environment

# Database
COMMON_DATABASE_URL=common-database

# Application Settings
COMMON_lOG_LEVEL=common-log-level
COMMON_TIMEZONE=common-timezone
COMMON_LANGUAGE_CODE=common-language
